<% for column in Cluster.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cluster.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @cluster %> |
<%= link_to 'Back', :action => 'list' %>