<%= error_messages_for 'shop' %>

<!--[form:shop]-->
<p><label for="shop_CompanyID">ShopID</label><br/>
<%= text_field 'shop', 'ShopID'  %></p>

<p><label for="shop_CompanyName">Shopname</label><br/>
<%= text_field 'shop', 'ShopName'  %></p>

<p><label for="shop_Address">Address</label><br/>
<%= text_field 'shop', 'Address'  %></p>
<!--[eoform:shop]-->