<% for column in Shop.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @shop.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @shop %> |
<%= link_to 'Back', :action => 'list' %>
