<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
<script>
function focusbutton()
{
	var btsave1 = document.getElementById("ok");
      
        

	 	btsave1.focus();

}
</script>
</head>

<body onload="focusbutton();">

<div align="center">
  <center>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="53%" id="AutoNumber1" bgcolor=#C0C0C0>
  <tr>
      <td width="100%" bgcolor="#6C3401" height="19"><b><font color=white>
      Confirmation</font></b></td>
    </tr>
  <tr>
    <td width="100%">
    <br>
    <h4><p align="center"><font color=red>Unfill Record for the ID selected</font></p></h4></td>
  </tr>
  <tr>
    <td width="100%">
    <form method="POST" >
      <p align="center">
     
      <%= submit_to_remote ' OK ',' OK ',:url => {:controller=>'entries',:action => "entrydata" },:id=>'ok' %>
      <% button_to_function ' Back ' , remote_function(:url => {:controller=> 'entries', :action => 'redirect_entrydata'}),:id=>'cancel',:style=>"font-family: Zurich BT; font-size: 10pt ;align:center" %>

</p>
    </form>
    </td>
  </tr>
 
</table>

  </center>
</div>

</body>

</html>