<%= error_messages_for 'machine_master' %>

<!--[form:machine_type]-->

<p><label for="machine_type_name">short_name</label><br/>
<%= text_field 'machine_master', 'short_name'  %></p>
<!--[eoform:machine_type]-->

<p><label for="machine_type_name">Name</label><br/>
<%= text_field 'machine_master', 'name'  %></p>
