<% for column in MachineMaster.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @machine_master.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @machine_master %> |
<%= link_to 'Back', :action => 'list' %>
