<%= error_messages_for 'editable_title' %>

<!--[form:editable_title]-->
<p><label for="editable_title_content">Content</label><br/>
<%= text_field 'editable_title', 'content'  %></p>
<!--[eoform:editable_title]-->

