<h1>Editing editable_title</h1>

<% form_tag :action => 'update', :id => @editable_title do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @editable_title %> |
<%= link_to 'Back', :action => 'list' %>
