<% for column in EditableTitle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @editable_title.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @editable_title %> |
<%= link_to 'Back', :action => 'list' %>
