<% for column in Configuration.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @configuration.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @configuration %> |
<%= link_to 'Back', :action => 'list' %>
