<html>
<head>
<script type="text/javascript">
//on load event to make save button disabled

window.onload=function()
{
	
	var cmbclustername=document.getElementById('shop_ClusterName');
	
	cmbclustername.focus();

}
</script>

<script>


function checkkey1()
{
var key1=document.getElementById("group1_GroupID");
if(key1.checked==false)
	{
	alert("Please select Key1 first");
	key1.focus();
	return false;
	}
else
	{
		
		return true;
	}
	
}

function checkkey2()
{
var key2=document.getElementById("group2_GroupID");
if(key2.checked==false)
	{
	alert("Please select Key2 first");
	key2.focus();
	return false;
	}
else
	{
		
		return true;
	}
	
}
	
function checkkey3()
{
var key3=document.getElementById("group3_GroupID");
if(key3.checked==false)
	{
	alert("Please select Key3 first");
	key3.focus();
	return false;
	}
else
	{
		
		return true;
	}
	
}

</script>
</head>
<body>
<center>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="951" height="290" align="center">
  <tr>
    <td width="951" height="290" align="center">

<% form_tag :action => 'update', :id => @group do %>
<fieldset style="width:710 ; height: 230 ; align:center">
<h2>Edit Key</h2>

<%= error_messages_for 'group' %>

<!--[form:group]-->
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="88%" height="185">
  						<tr width=100%>
    						<td width="47%" align=right height="39">
								<label for="group_CompanyID"><b>
                                <font face="Arial" size="2">GROUP NAME :</font></b></label><b><font face="Arial" size="2" ><label for="group_CompanyID"> </label>
									</font></b>
							</td>
							<td width="2%" height="39" >
							</td>

							<td width="60%" align=left height="39">
							<%= text_field 'group', 'ClusterName' ,:readonly=>true,:size=>15 %> 
                                                                       
</td>
 						</tr>
						<tr width=100%>

							<td width="47%" align=right height="51" >
							<label for="group_CompanyName"><b>
                            <font face="Arial" size="2">SHOP </font></b></label>
							<b><font face="Arial" size="2" >
 									<label for="group_CompanyName">NAME :</label>
 									</font></b>

							</td>
							<td width="2%" height="51" >

							</td>
							<td width="52%" align=left height="51">
							

							<%= text_field 'group', 'ShopName' ,:readonly=>true,:size=>15 %> 


<tr width=100%>
<td width="46%" align=right  height="1" >
<label for="group_GroupID"><b><font face="Arial" size="2">KEY NO :</font></b></label><b><font face="Arial" size="2" >

	</font></b>

	</td>
<td width="2%" height="1" >
							</td>
							<td width="52%" align=left height="1">

	<% @z=Group.find(params[:id])%>

	
	<% @c =Group.count(["ShopName=?",@z.ShopName]) %>
	
	<% if(@c==4) %>
	<% @m1=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 1'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	
	<% if(@m1!=nil) %>
	
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked disabled>
	<input name="group1[GroupID]" type=hidden value=0>
	<% else %>
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked >
	<input name="group1[GroupID]" type=hidden value=0>

	<%end%>
	<% @m2=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 2'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m2!=nil) %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked disabled>
	<input name="group2[GroupID]" type=hidden value=0>
	<% else %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked >
	<input name="group2[GroupID]" type=hidden value=0>

	<% end %>
	
	<% @m3=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 3'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m3!=nil) %>
	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3" checked=checked disabled>
	<input name="group3[GroupID]" type=hidden value=0>
	<%else %>
	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3" checked=checked >
	<input name="group3[GroupID]" type=hidden value=0>
	<%end%>
	
	<% @m4=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 4'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m4!=nil) %>
	<label for="group_Key4">4</label>
	<input type="checkbox" id="group4_GroupID" name="group4[GroupID]" value="KEY 4" checked=checked disabled >
	<input name="group4[GroupID]" type=hidden value=0>
	<%else%>
	<label for="group_Key4">4</label>
	<input type="checkbox" id="group4_GroupID" name="group4[GroupID]" value="KEY 4" checked=checked >
	<input name="group4[GroupID]" type=hidden value=0>
	<%end%>
	
	<% end %>
	
	<% if(@c==3) %>
	<% @m1=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 1'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	
	<% if(@m1!=nil) %>
	
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked disabled>
	<input name="group1[GroupID]" type=hidden value=0>
	<% else %>
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked >
	<input name="group1[GroupID]" type=hidden value=0>

	<%end%>

	
	<% @m2=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 2'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m2!=nil) %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked disabled>
	<input name="group2[GroupID]" type=hidden value=0>
	<% else %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked >
	<input name="group2[GroupID]" type=hidden value=0>

	<% end %>
	
	<% @m3=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 3'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m3!=nil) %>
	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3" checked=checked disabled>
	<input name="group3[GroupID]" type=hidden value=0>
	<%else %>
	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3" checked=checked >
	<input name="group3[GroupID]" type=hidden value=0>
	<%end%>
	
	<label for="group_Key4">4</label>
	<input type="checkbox" id="group4_GroupID" name="group4[GroupID]" value="KEY 4"  >
	<input name="group4[GroupID]" type=hidden value=0>
	<% end %>

<% if(@c==2) %>
	<% @m1=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 1'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	
	<% if(@m1!=nil) %>
	
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked disabled>
	<input name="group1[GroupID]" type=hidden value=0>
	<%else%>
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked >
	<input name="group1[GroupID]" type=hidden value=0>
	
	<%end%>
		<% @m2=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 2'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	<% if(@m2!=nil) %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked disabled>
	<input name="group2[GroupID]" type=hidden value=0>
	<% else %>
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2" checked=checked >
	<input name="group2[GroupID]" type=hidden value=0>

	<% end %>

	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3"  >
	<input name="group3[GroupID]" type=hidden value=0>

	<label for="group_Key4">4</label>
	<input type="checkbox" id="group4_GroupID" name="group4[GroupID]" value="KEY 4"  >
	<input name="group4[GroupID]" type=hidden value=0>
	<% end %>
<% if(@c==1) %>
	<% @m1=Machine.find_first(["ShopName=? and ClusterName=? and GroupId='KEY 1'","#{@session['groupshop']}","#{@session['groupcluster']}"]) %>
	
	<% if(@m1!=nil) %>
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked disabled>
	<input name="group1[GroupID]" type=hidden value=0>

	<%else%>
	<label for="group_Key1">1</label>
	<input type="checkbox" id="group1_GroupID" name="group1[GroupID]" value="KEY 1" checked=checked>
	<input name="group1[GroupID]" type=hidden value=0>
	<%end%>
	
	<label for="group_Key2">2</label>
	<input type="checkbox" id="group2_GroupID" name="group2[GroupID]" value="KEY 2"  >
	<input name="group2[GroupID]" type=hidden value=0>

	<label for="group_Key3">3</label>
	<input type="checkbox" id="group3_GroupID" name="group3[GroupID]" value="KEY 3" >
	<input name="group3[GroupID]" type=hidden value=0>

	<label for="group_Key4">4</label>
	<input type="checkbox" id="group4_GroupID" name="group4[GroupID]" value="KEY 4"  >
	<input name="group4[GroupID]" type=hidden value=0>
	<% end %>
	</td>
						</tr>
						<tr width=100%>

							<td width="100%" align=center colspan=3 height="43" >
							<br>
	<input type="submit" value="Update" name="B1">
  	<%= button_to_function 'Cancel' , remote_function(:url=> {:controller=>'groups',:action => "canceladd" }),:id=>'cancel', :style=>"font-family: Zurich BT; font-size: 10pt align=left" %>

	
	<% end %>
		</td>
  						</tr>
				</table>
</fieldset >

</td>
  </tr>
</table>
</center>
</body>
</html>