<html><body><table width="900"><tr><td width="900" align=center>
<table border=5 bordercolor="#08176C" height="219" width="305" ><tr>
  <td height="213" width="287">
<%= start_form_tag :controller => "users", :action => "password" %>
<p>&nbsp;</p>
<h2 align="center"> <span style="font-weight: 400"> 
<font face="Zurich BT" size="4" color="#08176C">Change Password</font></span></h2>
<div title="password alteration" id="password alteration" class="form">
<h3><font color=red>
<% if @msg %>

<div id="msg" style="width: 300;border: 2px solid blue;padding-bottom: 12px; margin-bottom: 20px;
 background-color: #f0f0f0; height:22; padding-left:7px; padding-right:7px; padding-top:7px"><%= @msg %></div>
<% end %></font></h3>  



<p align="left"><br/>

  <b><font face="Arial" color="#08176C" size="2">

  &nbsp;</font></b><font face="Zurich BT" color="#08176C" size="2"><label for="user_old_pass">Old password:</label></font><br/>
  &nbsp;<input name="old_password" id="old_password" tabindex="2" type="password" size="20" /><br/><br/>

  <b>

  &nbsp;</b><label for="user_new_pass"><font size="2" face="Zurich BT" color="#08176C">New password:</font></label><br/>
 &nbsp;<input name="new_password" id="new_password" tabindex="2" type="password" size="20" /><br/><br/>

  <b>

  	&nbsp;</b><label for="user_new_pass_confirmation"><font size="2" face="Zurich BT" color="#08176C">Confirm password:</font></label><br/>
  &nbsp;<input name="new_password_confirmation" id="new_password_confirmation" tabindex="2" type="password" size="20" /><br/><br/>


</div>
  <p align="center">
<input type="submit" value="Alter Password" class="primary" style="font-family: Zurich BT; font-size: 10pt" />
  <p align="center">
&nbsp;<%= end_form_tag %></td></tr></table>
</td></tr></table>
<>