<html>
<head>
<script language="javascript">
function validate()
{
if(document.getElementById('new_password').value=="")
 {
  alert("Enter New Password");
 document.getElementById('new_password').focus();
 return(false);	
  }
  

  
}
 </script>

</head>
<body>
  				<form id="form1" name="form1" method="post" action="password" align="center" onSubmit="return validate()" >	

<table border=0 bordercolor="#007cc3"  width="965" height="330">
  <tr>
  	<td width="965" height="300"  align="center">
		<table   height="250" width="400">
  			<tr>
  			<td height="250" width="100%">
  			     <fieldset style="width:100%; height:250; align:center; ">

					<div title="password alteration" id="password alteration" class="form">
					<br>
  						<h2 align="center"> <u><font face="Arial" size="4" color="#890103">Change Password</font></u></h2>
						<h4><font color=red><% if @msg %>

<div id="msg" style="width: 394;border: 2px solid #890103;padding-bottom: 12px; margin-bottom: 20px;
 background-color: #f0f0f0; height:20; padding-left:7px; padding-right:7px; padding-top:7px"><%= @msg %></div>
<% end %></font></h4>
<div id="pass" align=center>
	
    
  &nbsp;<label for="user_old_pass"><b><font face="Arial" size="2" color="#890103">Old Password:</font></b></label><br/>
  <input name="old_password" id="old_password" tabindex="2" type="password" size="20" /><br/>

  <b>

  &nbsp;<label for="user_new_pass"><font size="2" face="Arial" color="#890103">New Password:</font></label></b><br/>
  <input name="new_password" id="new_password" tabindex="2" type="password" size="20" /><br/>

  <b>

 &nbsp;<font face="Arial" size="2" color="#890103"><label for="user_new_pass_confirmation">Confirm Password:</label></font></b><br/>
  <input name="new_password_confirmation" id="new_password_confirmation" tabindex="2" type="password" size="20" /><br/>
</div>

<br>
<p align=center>&nbsp;&nbsp;<input type="submit" value="Alter password" name="submit" id="submit"  class="primary" />
<%= button_to_function 'Back',remote_function(:url=> {:controller=>'users',:action => "back" })%>
</p> 


</div>

</fieldset>
 
  
</td></tr></table>

</td></tr></table>
</form>
</body>
</html>