<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
<script>
function showsave1()
{
	var btsave1 = document.getElementById("save");
      
        btsave1.disabled=false;

	 	btsave1.focus();

}

function showsave()
{
	
	if(event.keyCode==13)
	{
	 	var btsave1 = document.getElementById("save");
      
        btsave1.disabled=false;

	 	btsave1.focus();
	 }	
}

function calculatetotal1(obj)
{
	
	if(obj.value.length<1)
	{
	
	alert("Please enter value");
	obj.focus();
	return false;
	}
	else
	{
	
	var total1=document.getElementById("total1");
	var cash=document.getElementById("countercollection_Cash").value;
	
	var Exp=document.getElementById("countercollection_Exp").value;
	var hc=document.getElementById("countercollection_HC").value;
	var cr=document.getElementById("countercollection_Credit").value;
	var sht_ext=document.getElementById("countercollection_ShortExt").value;
	
	

	var sum=parseInt(cash)+parseInt(Exp)+parseInt(hc)+parseInt(cr)+parseInt(sht_ext);
	total1.value=sum;
	return true;
	}
	
}

function calsh()
{
var total1=document.getElementById("total1");
	var cash=document.getElementById("countercollection_Cash").value;
	
	var Exp=document.getElementById("countercollection_Exp").value;
	var hc=document.getElementById("countercollection_HC").value;
	var cr=document.getElementById("countercollection_Credit").value;
	var sht_ext=document.getElementById("countercollection_ShortExt").value;
	
	

	var sum=parseInt(cash)+parseInt(Exp)+parseInt(hc)+parseInt(cr)+parseInt(sht_ext);
	total1.value=sum;
	return true;

}

function calculatetotal2(obj)
{
	
	if(obj.value.length<1)
	{
	alert("Please Enter Value");
	obj.focus();
	return false;
	}
	else
	{	
	var total2=document.getElementById("total2");
	
	var OPENBAL='<%= "#{@session['obal']}" %>'
	
	//document.getElementById("countercollection_openingbal").value;
	var KEY1=document.getElementById("countercollection_KEY1").value;
	
	var KEY2=document.getElementById("countercollection_KEY2").value;
	var KEY3=document.getElementById("countercollection_KEY3").value;
	var KEY4=document.getElementById("countercollection_KEY4").value;
	var outstd=document.getElementById("countercollection_outstanding").value;


	var sum=parseInt(OPENBAL)+parseInt(KEY1)+parseInt(KEY2)+parseInt(KEY3)+parseInt(KEY4)+parseInt(outstd);
	total2.value=sum;
	return true;
	}
	
	
}

function Check()
{
	var total1=document.getElementById("total1").value;
	var total2=document.getElementById("total2").value;
	//var x=document.getElementByID("total1"); 
	var cash=document.getElementById("countercollection_Cash");

	if(total1==0 || total2==0)
	{
		alert("Please fill form values");
		
		var btsave1 = document.getElementById("save");
      
        btsave1.disabled=true;

		cash.focus();
		return(false);
	}
	else
	{
		if(total1!=total2)
			{
				alert("Both total not matching");
				cash.focus();
				var btsave1 = document.getElementById("save");
      
        btsave1.disabled=true;

				return(false);
			}
		return(true);
	}

}
function onlyNumbers(evt)
{
	var e = event || evt; // for trans-browser compatibility
	var charCode = e.which || e.keyCode;
	
	if (charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
    
	return true;

}
function onlyNumbersminus(evt)
{
	
	var e = event || evt; // for trans-browser compatibility
	var charCode = e.which || e.keyCode;
	if(charCode==45)
		return true
	else if(charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
    else
	return true;

}

function checkshort()
{
	var sh=document.getElementById("countercollection_ShortExt");
	if(sh.value.length<1)
	{
		sh.value="0";
	}
	if(sh.value!="0")
	{
	var ans=confirm("ARE YOU SURE YOU WANT TO CHANGE SHORT EXTRA");
	if(ans)
	{
		calsh();
	}
	else
	{
	var sh=document.getElementById("countercollection_ShortExt");

	sh.value="0";
	}
	}
	
}
</script>
<script type="text/javascript">


window.onload=function()
{
var cash=document.getElementById('countercollection_Cash');
cash.focus();
var btsave1 = document.getElementById("save");
      
        btsave1.disabled=true;
}
</script>
</head>

<body>
 



<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%" id="AutoNumber1" height="350">
  <tr>
    <td width="100%" height="330" align=center>
   
   
    

    
    

    <table border="1" cellpadding="0" cellspacing="0"  bgcolor="#C0C0C0" style="border-collapse: collapse" bordercolor="#6C3401" width="80%" id="AutoNumber2" height="320">
      <tr>
        <td width="100%" height="1"><h3>Counter Collection</h3></td>
      </tr>
      <tr>
        <td width="100%" height="55">
        <%= error_messages_for 'countercollection' %>

        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3" height="55">
          <tr>
            <td width="50%" height="27"><label for="countercollection_ShopName">Shopid</label>
<%= text_field 'countercollection', 'ShopName', :readonly=>true %>
</td>
            <td width="50%" height="27"><label for="countercollection_Date">Date</label>
<%= text_field 'countercollection', 'Date',:value=>"#{@session['date']}" ,:readonly=>true %></td>
          </tr>
          <tr>
            <td width="100%" height="27" colspan="4"><label for="countercollection_Cash">Cash</label>+
            <label for="countercollection_Credit">Credit</label>
             <input type=text value=<%= @session['cash'] %> readonly size="20">+

            <input type=text value=<%= @session['credit'] %> readonly size="20">
</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td width="100%" height="236">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber4" height="236">
          <tr>
             		<td width="25%" height="34" align="right"><label >Cash</label></td>
             		<td width="25%" height="34">
             		<%= text_field 'countercollection', 'Cash',:onblur=>"calculatetotal1(this);" ,:onkeypress=>"return onlyNumbers();"  ,:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Exp.focus();",:onFocus=>"this.select();"%></td>
             		<td width="25%" height="34" align="right"><label for="countercollection_Openingbal">O/B</label></td>
             		<td width="25%" height="34">
             		<input type=text id='countercollection_Openingbal' name='countercollection[Openingbal]' value=<%= "#{@session['obal']}" %>  size="20" onFocus="this.select();" readonly></td>
		 </tr>
          <tr>
					
					<% @c =Group.count(["ShopName=?",@session['sname']]) %>

					<td width="25%" height="34" align="right"><label for="countercollection_Exp">Exp</label></td>
					<td width="25%" height="34">
					
					<%= text_field 'countercollection', 'Exp',:onkeypress=>"return onlyNumbers();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_HC.focus();",:onblur=>"calculatetotal1(this);",:onFocus=>"this.select();"%></td>

					</td>
            		<td width="25%" height="34" align="right"><label for="countercollection_KEY1">KEY 1</label></td>
            		<td width="25%" height="34">
            		<% if(@c>=1) %>
            			<%if(@c==1)%>
            		<%= text_field 'countercollection', 'KEY1',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Outstanding.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%>
            			<%else%>
            			<%= text_field 'countercollection', 'KEY1',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_KEY2.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%>

            			<%end%>

            		
            		<%else%>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------
            	
            		<% end %>
            		</td>
            		
           </tr>
          <tr>
  
            		<td width="25%" height="34" align="right"><label for="countercollection_HC">Hc</label></td>
            		<td width="25%" height="34">
            			<%= text_field 'countercollection', 'HC',:onkeypress=>"return onlyNumbers();",:onblur=>"calculatetotal1(this);",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Credit.focus();",:onFocus=>"this.select();"%>
            			
            	

				</td>
            		
          			<td width="25%" height="34" align="right"><label for="countercollection_KEY2">KEY 2</label></td>
          			<td width="25%" height="34">
          			<% if(@c>=2) %>
          				<%if(@c==2)%>
	          			  <%= text_field 'countercollection', 'KEY2',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Outstanding.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%>
						<%else%>
					   	  <%= text_field 'countercollection', 'KEY2',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_KEY3.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%>
						<%end%>
											       			
          			<%else%>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------
            	<input type="hidden" name="countercollection[KEY2]" id="countercollection_KEY2" value="0">

          			<%end%>
          			</td>
          </tr>
          <tr>
          			
          			<td width="25%" height="34" align="right">CR</td>
          			<td width="25%" height="34">
          			

          			<%= text_field 'countercollection', 'Credit',:onblur=>"calculatetotal1(this);",:onkeypress=>"return onlyNumbers();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_KEY1.focus();",:onFocus=>"this.select();"%></td>
					<td width="25%" height="34" align="right"><label for="countercollection_KEY3">KEY 3</label></td>
				<td width="25%" height="34">
					<% if(@c>=3) %>
						<%if(@c==3)%>
          			<%= text_field 'countercollection', 'KEY3',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Outstanding.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();" %>
          			
					<%else%>
          			<%= text_field 'countercollection', 'KEY3',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_KEY4.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();" %>
					
					<%end%>
					<%else%>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------
            	            	<input type="hidden" name="countercollection[KEY3]" id="countercollection_KEY3" value="0">
					<% end%>
					
					</td>
          			
          	
		 </tr>
          <tr>		
          			
            		<td width="25%" height="34" align="right"><label for="countercollection_Short_Ext">Short ext</label></td>
            		<td width="25%" height="34">
            		<%= text_field 'countercollection', 'Short_Ext',:id=>'countercollection_ShortExt',:onblur=>"checkshort();",:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_KEY1.focus();",:onFocus=>"this.select();",:readonly=>true%></td>

            		</td>
            		<td width="25%" height="34" align="right"><label for="countercollection_KEY4">KEY 4</label></td>
            		<td width="25%" height="34">
            		<% if(@c>=4) %>
            		      <%= text_field 'countercollection', 'KEY4',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"if(event.keyCode==13)  this.form.countercollection_Outstanding.focus();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%>
            		<%else%>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------
       		            	<input type="hidden" name="countercollection[KEY4]" id="countercollection_KEY4" value="0">
            		<%end %>
            		</td>
          
          
            
            
          </tr>
          <tr>
          
					<td width="25%" height="34" align="right">&nbsp;</td>
					<td width="25%" height="34"></td>
					 <td width="25%" height="34" align="right"><label for="countercollection_Outstanding">O/S</label></td>
					 <td width="25%" height="34">
					
<%= text_field 'countercollection', 'Outstanding',:onkeypress=>"return onlyNumbersminus();",:onKeyDown=>"showsave();",:onblur=>"calculatetotal2(this);",:onFocus=>"this.select();"%></td>

 </td>
					
          </tr>
          <tr>
          			 <td width="25%" height="33" align="right"><label for="countercollection_total1">Total</label></td>
          			 <td width="25%" height="34">

          			 <input type=text name="total1" id="total1" value="<%= @session['total1'] %>" size="20" readonly></td>
					 <td width="25%" height="33" align="right"><label for="countercollection_total1">Total</label></td>
					 <td width="25%" height="34">
					 <input type=text name="total2" id="total2" value="<%= @session['total2'] %>" size="20" readonly></td>

          </tr>
          
        </table>
        </td>
      </tr>
      <tr>
        <td width="100%" height="10" align=center>

  
</td>
      </tr>
    </table>
    </td>
  </tr>
</table>


</body>

</html>