<% for column in Countercollection.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @countercollection.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @countercollection %> |
<%= link_to 'Back', :action => 'list' %>
