<%= error_messages_for 'daily_report_custom' %>

<!--[form:daily_report_custom]-->
<p><label for="daily_report_custom_cluster_name">Cluster Name</label>
<%= text_field 'daily_report_custom', 'cluster_name'  %></p>

<p><label for="daily_report_custom_hc">Hc</label>
<%= text_field 'daily_report_custom', 'hc'  %></p>

<p><label for="daily_report_custom_exp">Exp</label>
<%= text_field 'daily_report_custom', 'exp'  %></p>
<!--[eoform:daily_report_custom]-->
