<html>
  <head>
    <meta http-equiv="Content-Language" content="en-us"/>
    <meta name="GENERATOR" content="Microsoft FrontPage 5.0"/>
    <meta name="ProgId" content="FrontPage.Editor.Document"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
    <title>Data Entering</title>
    <%= stylesheet_link_tag 'calendar_date_select/silver.css' %>
    <%= javascript_include_tag 'calendar_date_select/calendar_date_select.js'%>
    <%= javascript_include_tag 'calendar_date_select/format_db.js'%>
    <script  language="JavaScript">
      function hidesave()
      {
        document.getElementsByName('save')[0].disabled = true;
      }
      function checkloader(){
          jQuery('#loader').show();
      }
    </script>
    <script type="text/javascript">
        !--
      history.forward();

      -->
    </script>

    <script language="JavaScript">
      function onlyNumbers(evt)
      {
        var e = event || evt; // for trans-browser compatibility
        var charCode = e.which || e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
          return false;
    
        return true;
      }
      function showsave1()
      {
	
        if(event.keyCode==9)
        {
          var btsave1 = document.getElementById("");
          btsave1.disabled=false;
          btsave1.focus();
        }
      }
      //DISPLAY SAVE BUTTON ON FILLING ALL VALUES
      function showsave(event)
      {
        var code = (event.keyCode ? event.keyCode : event.which);
        //alert(code);
        var meterout=document.getElementById("clientdata_MeterOUT");
        if(code==13)
        {
          if(meterout.value.length<1)
          {
            alert('Please Enter Value for MeterOUT')
            meterout.focus();
            return(false);
          }
          else
          {
            var btsave1 = document.getElementById("save");
            btsave1.disabled=false;
            btsave1.focus();
          }
        }
        if(code==49)
        {
          var btsave1 = document.getElementById("data");
          var btsave = document.getElementById("save");
          document.getElementsByName('save')[0].disabled = 0;
          btsave1.focus();
        }
      }
      //CHECK FOR VALIDATION OF FORM
      function Validate()
      {
        var save=document.getElementById("save");
        var key=document.getElementById("clientdata_GroupID");
        var mcno=document.getElementById("clientdata_MachineNo");
        var meterin=document.getElementById("clientdata_MeterIN");
        var meterout=document.getElementById("clientdata_MeterOUT");
        var screenout=document.getElementById("clientdata_ScreenOUT");
        var screenin=document.getElementById("clientdata_ScreenIN");
        if(key.value.length<1)
        {
          alert('Please Enter Value for KEY')
          key.focus();
          return(false);
        }
        else if(mcno.value.length<1)
        {
          alert('Please Enter Value for MachineNo')
          mcno.focus();
          return(false);
        }
        else if(meterin.value.length<1)
        {
          alert('Please Enter Value for MeterIN')
          meterin.focus();
          return(false);
        }
        else if(meterout.value.length<1)
        {
          alert('Please Enter Value for MeterOUT')
          meterout.focus();
          return(false);
        }
        else if(screenout.value.length<1)
        {
          alert('Please Enter Value for ScreenOUT')
          screenout.focus();
          return(false);
        }
        else if(screenin.value.length<1)
        {
          alert('Please Enter Value for ScreenIN')
          screenin.focus();
          return(false);
        }
        else
        {
          return(true);
        }
      }

      function checkScreen()
      {
        var screenout=document.getElementById("clientdata_ScreenOUT");
        var screenin=document.getElementById("clientdata_ScreenIN");
        if(screenin.value==0 && screenout.value>=1)
        {
          alert("PLEASE ENTER VALID VALUE FOR SCREENIN AND SCREENOUT");
          screenin.focus();
          return false;
        }
        else
        {
          return true;
        }
      }

      function checkScreenin()
      {
        var screenin=document.getElementById("clientdata_ScreenIN");
        if(screenin.value.length<=0)
        {
          alert("PLEASE ENTER  VALUE FOR SCREENIN ");
          screenin.focus();
          return false;
        }
        else
        {
          return true;
        }
      }

      function checkScreenout()
      {
        var screenout=document.getElementById("clientdata_ScreenOUT");
        var screenin=document.getElementById("clientdata_ScreenIN");
        if(screenout.value.length<=0)
        {
          alert("PLEASE ENTER VALUE FOR SCREENOUT ");
          screenout.focus();
          return false;
        }
        else
        {
          if(screenin.value==0)
          {
            if (screenout.value==0)
            {
              return true;
            }
            else
            {
              alert("PLEASE ENTER ZERO VALUE FOR SCREENOUT ");
              screenout.focus();
              screenout.value=0;
              return false;
            }
          }
          else
          {
            return true;
          }
        }
      }

      function checkMeterin()
      {
        var meterin=document.getElementById("clientdata_MeterIN");
        if(meterin.value.length<=0)
        {
          alert("PLEASE ENTER  VALUE FOR METERIN ");
          meterin.focus();
          return false;
        }
        else
        {
          return true;
        }
      }

      function checkMachineName()
      {
        var mcname=document.getElementById("clientdata_MachineName");
        var shop=document.getElementById("clientdata_ShopName");
        var key=document.getElementById("clientdata_GroupID");
        var mcno=document.getElementById("clientdata_MachineNo");
        if(shop.value!="" && key.value!="")
        {
          if(mcno.value=="")
          {
            alert("PLEASE ENTER  VALUE FOR MACHINENO ");
            mcno.focus();
            return false;
          }
          else
          {
            new Ajax.Request("<%= url_for:controller => :clientdatas, :action => :checkmachineno %>", {method:'post'})
            return true;
          }
        }
      }
    </script>

    <script type="text/javascript">
      //ONLOAD FUNCTION FOR SETTING DEFAULT VALUES SELECTED AND DATE DISPLAY 18 HOURS BEFORE DATE
      window.onload=function()
      {
        var output=document.getElementById('clientdata_Date');
        var shopname = document.getElementById("clientdata_ShopName");
        var mcno = document.getElementById("clientdata_MachineNo");
        // document.getElementById("Back").accessKey="D";   //Alt+D
        // document.getElementById("SHORT").accessKey="S";
        //document.getElementById("CounterCollection").accessKey="C";
        //document.getElementById("Missing Records").accessKey="R";
        var nonstp=document.getElementById("transact_nonstp");
        //shopname.options[shopname.selectedIndex]=1;
        var v_sn = shopname.options[shopname.selectedIndex].value;
        document.getElementsByName('save')[0].disabled = true;
        
        if(v_sn=="")
        {
          //shopname.focus();
          mcno.focus();
        }
        else
        {
          mcno.focus();
        }
        
      }
    </script>
  </head>
  <body>
    <div class="" align="center" id="loader" style="display:none;">
      <img src='/images/spinner.gif' />
    </div>
    <div id="clientdata_div">
      <%= render :partial => 'clientdatas_new' %>
    </div>
            
  </body>
</html>