<% for column in Clientdata.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @clientdata.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @clientdata %> |
<%= link_to 'Back', :action => 'list' %>
