<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>

</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1" height="174">
  <tr>
    <td width="100%" height="174"  align=center>
    <% form_tag :action => 'create' do %>
<%= error_messages_for 'previousrecord' %>

    <table border="1" cellpadding="0"  cellspacing="0" bgcolor="#C0C0C0" style="border-collapse: collapse" bordercolor="#6C3401" width="70%" id="AutoNumber2" height="124">
      <tr>
        <td width="100%" height="37" colspan="2"><h3>Counter Collection:</h3></td>
      </tr>
      <tr>
        <td width="50%" height="35"><b> 
	 				<font size="2" face="Arial">
					<label for="previousrecord_ShopName">ShopName</label>
					</b></font>

					<input type=text id='previousrecord_ShopName' name=previousrecord[ShopName] value=<%= "#{@session['shop']}" %> size="20" >
		</td>
        <td width="50%" height="35">
        			<b> <font size="2" face="Arial">
					<label for="previousrecord_Date">Date</label>
					</b></font>
					<% "#{@session['date']}" %>
					<%= date_select 'previousrecord', 'Date', :default=>{:date=>"#{@session['date']}"} %>
		</td>
      </tr>
      <tr>
        <td width="100%" height="35" colspan="2">
        			<b><font size="2" face="Arial">
					<label for="previousrecord_Xcash">Cash+</label><label for="previousrecord_Xcredit">Credit</label>
					</b></font>&nbsp;&nbsp;&nbsp;&nbsp;
        			<%= text_field 'previousrecord', 'Xcash'  %>&nbsp;&nbsp;&nbsp;&nbsp;<b>+&nbsp;&nbsp;&nbsp;&nbsp;</b><%= text_field 'previousrecord', 'Xcredit'  %>
        </td>
      </tr>
      <tr>
        <td width="100%" height="35" colspan="2" align=center>
      <%= submit_tag "Create" %>
      <%= button_to_function 'Cancel' , remote_function(:url=> {:controller=>'entries',:action => "cancelentry" }),:id=>'cancel', :style=>"font-family: Zurich BT; font-size: 10pt ;align:center" %>
		<% end %>
	</td>
	</tr>

    </table>
    </td>
  </tr>
</table>

</body>

</html>