<% form_tag :action => "check_for_new_password" do %>
<table align="left">
   <p>
     <font color="#E1CEA2" face="Arial">
       Please Enter Your User Name :<%= text_field_tag "user_name" %><%=  submit_tag "submit"%>
     </font>
   </p>
</table>
<%end%>

<% if @user %>
<font color="#E1CEA2" face="Arial">Your Password : </font>
<%= render :partial => "new_password" ,:locals => {:f => @user}%>
<%end%>

<%= link_to "BACK" , :controller => 'account' ,:action => 'login'%>
