<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GameStation</title>
</head>
<%= stylesheet_link_tag "style" %>

<body>
<table width="840" height="111" cellspacing="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" align=center>
<tr >
<td width="956" height="550" >

<table width="100%" height="70" cellspacing="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111" align=center><tr ><td width="100%" height="58" >
<table border="0" bordercolor="#800000" style="border-collapse: collapse" cellpadding="2" cellspacing="10" align="right" width="140" height="65" ><tr>
  <td width="232" height="51">


<table align="left" width="978" height="277"><tr>
  <td  id=logout  style="background-repeat:no-repeat" width="620" height="269">
  </td>
  <td width="566" height="269" >


<h3><font color="#E1CEA2" face="Arial" size="5">Logoff</font></h3>

<div class="memo" style="width: 614; height: 81">
   <p><font color="#E1CEA2" face="Arial">You are now logged out of the system...</font></p>
	<p> <font face="Arial" size="5">&nbsp; </font> </p>
	<p> &nbsp; </p>
      
   <font color="#6C3401" face="Arial" size="3"><b>      
    <%= link_to "&#171; login", :action=>"login"%>  
      
</b> </font> 
      
</div></td></tr></table>
</td></tr></table>


</body>
</html>