<html>
<head>

<%= stylesheet_link_tag "style" %>

</head>
<body>
<%= start_form_tag :controller => "administration", :action => "password" %>


<table height="428" width="727"><tr><td height="23" width="234">&nbsp;<td height="23" width="483">&nbsp;<tr>
 
<form id="form1" name="form1" method="post" action="password" align="center">	
  
 
  
  </form>
  
 
  
  <td height="397" width="234">&nbsp;</td><td height="397" width="483">
  <table border=5 bordercolor="#800000" height="194" width="287"><tr>
  <td height="188" width="269">
<div title="password alteration" id="password alteration" class="form">
  

<br/>
	<h2 align="center"> <u><font face="Arial" size="4" color="#000080">Change Password</font></u></h2>
<p>&nbsp;</p>
<h3><font color=red>
<% if @msg %>

<div id="msg" style="width: 300;border: 2px solid blue;padding-bottom: 12px; margin-bottom: 20px;
 background-color: #f0f0f0; height:30; padding-left:7px; padding-right:7px; padding-top:7px"><%= @msg %></div>
<% end %></font></h3>
<div id="pass">
	<p align="center"> &nbsp;</p>
    <p align="left">
  &nbsp;<label for="user_old_pass"><b><font face="Arial" size="2" color="#800000">Old Password</font><font color="#800000">:</font></b></label><br/>
 &nbsp; <input name="old_password" id="old_password" tabindex="2" type="password" size="20" /><br/><br/>

  <b>

 &nbsp; <label for="user_new_pass"><font size="2" face="Arial" color="#800000">New Password:</font></label></b><br/>
 &nbsp; <input name="new_password" id="new_password" tabindex="2" type="password" size="20" /><br/><br/>

  <b><font face="Arial" size="2" color="#800000">

 &nbsp; <label for="user_new_pass_confirmation">Confirm Password:</label></font></b><br/>
 &nbsp; <input name="new_password_confirmation" id="new_password_confirmation" tabindex="2" type="password" size="20" /><br/><br/>

</div>


<input type="submit" value="Alter password" class="primary" /> &nbsp;&nbsp;
<%= end_form_tag %>
<!--<%= submit_to_remote 'Alter','Alter',:url => {:controller=>'client',:action => "password" },  :id=>'password'%>-->

<br/><br/>


<br/>
</td></tr></table></td></tr></table>
</form>
</body>
</html>