<html>
<head>
<%= javascript_include_tag "prototype","effects",:defaults %>



</head>
<body>

<table height="458" width="727"><tr><td height="53" width="291">&nbsp;<td height="53" width="426">&nbsp;<tr>
 <form >	

  </form>

  <td height="397" width="291">&nbsp;</td><td height="397" width="426">
  <table border=5 bordercolor="#800000" height="133" width="316"><tr>
  <td height="127" width="298" align=center>
<div title="password alteration" id="password alteration" class="form" style="width: 324; height: 172">
  

	
<p>&nbsp;</p>
<div id="msg" style="width: 306;border: 2px solid blue;padding-bottom: 12px; margin-bottom: 20px;
 background-color: #f0f0f0; height:41; padding-left:7px; padding-right:7px; padding-top:7px">
  <p align="center"><font face="Zurich BT" size="4">Password Changed Successfully</font></div>
</font><h3></h3>
  <p align="center">



<!--<input type="submit" value="OK" class="primary" /> -->
<%= button_to_function '  OK  ',remote_function(:url => {:controller=>'administration',:action => "main" })  %>
</td></tr></table></td></tr></table>
</form>
</body>
</html>