<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Admin</title>
<script>
window.onload=function()
{
	new Ajax.Request("<%= url_for :controller=> :reports,:action=>:exreport %>",{method:'post'})

}
</script>
</head>

<body>
	<p>&nbsp;</p>
	
		<table border=0  align="center" width="100%"><tr>
 			 <td bgcolor="#FFFFFF" width="90%" align=center >
				<table align=center border=0 bordercolor="#08176C"width="90%" left="5%"><tr>
 					 <td width="870">
					<p>
					
								<p>
						<h1 align="center"><font color="#6C3401" face="Zurich BT" size="5">
                        Short Extra Report<% puts "Time on view is #{Time.now()}" %></font></h1>
						<p>&nbsp;</p>
						<p>
						 <% @a=@session[:startdate].strftime("%d-%B-%Y") %>
						  <% @m1=@a.split('-')%>
						 
						 
						<h3 align="center"><font color="#6C3401" face="Zurich BT" size="2"><%= @m1[1] %> - <%= @m1[2]%></font></h1>
						<p>&nbsp;</p>
				
								<% Machine.find(:all,:select => "distinct MachineNo", :conditions=>["ClusterName=? and ShopName=?",@session[:rrclustername],@session[:rrshopname]]).each do |item|%>
								 
									<table border="1" width ="802"  cellpadding="0"  cellspacing="0" bordercolor="#111111"   id="AutoNumber1"  height="24"  left:2% > 

									<tr  bgcolor="#E1CEA2" align=center>
									<th nowrap width="1%" height="22" >
									        <font color=white face="Zurich BT" size="2">DATE</font></th>
									

									<%@m=@session[:days] %>
									
										<%1.upto(@m.to_i) do |i|%>
										
  								      	<th nowrap width="1%" height="22" >
									        <font color=white face="Zurich BT" size="2"><%=i%></font></th>
									     <%end%>
									     <th nowrap width="1%" height="22" >
									        <font color=white face="Zurich BT" size="2">TOTAL</font></th>
									 </tr>

<!--RUBY CODE FOR FETCHING USERS DATA--> 
<% @cnt=0 %>
<tr>
<th><%=item.MachineNo %>&nbsp;</th>
				<%@m=@session[:days] %>
				
				<%1.upto(@m.to_i) do |@i|%>
					
					<% @date1=Date.parse(@i.to_s+'-'+@session[:month].to_s+'-'+@session[:year].to_s) %>
					<%= puts @date1 %>
					
					<%# @t =Counterdata.find_by_sql("select exp from counterdatas where clustername='#{@session[:rrclustername]}' and shopname='#{item.ShopName}' and date='#{@date1}'" )%>

					<% @t =Machinedata.find_by_sql("select * from machinedatas where Cluster_name='#{@session[:rrclustername]}' and shop_name='#{@session[:rrshopname]}' and Trans_date='#{@date1}' and Machine_no='#{item.MachineNo}' order by digitno" )%>
										
					<% @count=0 %>
					
					<% @t.each do |@c| %>
								<% @count=@count+1%>
								<% @d=(@date1).to_s.split('-')%>
								
								<!--<% if  @i==@d[2].to_i%>-->
										
								<!--<% else %>-->
											
								<!--<%end%>-->
						
						<%end%>		
					
						<% if @count==0%>
								
								<td nowrap align="center">-</td>	

						<%else%>
								
								
								<% if @i.to_i==@d[2].to_i %>
									<td nowrap align="center"><%= @c.SRCOLL %>&nbsp;</td>
									<% @cnt=@cnt+@c.SRCOLL.to_i %>
								<% else%>
								<td nowrap align="center">-</td>	
								<%end%>
									

						<%end%>						
						
				<%end%>
				<td nowrap align="center"><b><%= @cnt%></b>&nbsp;</td>					
					

</tr>
<!--<tr><th>Total</th>-->
</tr>	 
</table>
<br/>
<% end %>
<div align=center>
<p>&nbsp;</p>
 

</td></tr></table>
</td></tr></table>
</body>
</html>