<html>

<head>
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
</head>
<body>
<html>

<head>
<meta name="GENERATOR" content="Microsoft FrontPage 5.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
</head>
<body>
<h2>MACHINE SUMMARY REPORT</h2>

<h3><%= @session[:rrclustername] %></h3>

<%Machinedata.find(:all,:select=>'distinct SHOP_NAME',:conditions=>"CLUSTER_NAME='#{@session[:rrclustername]}'
      and TRANS_DATE>='#{session[:ttdate1]}'
      and TRANS_DATE<='#{session[:ttdate2]}'",
      :order=>"SHOP_NAME").each do |shop|%>

%= shop.SHOP_NAME %>


 <% end %>
</body>

</html>
</body>

</html>