<html>
  <head>
    <meta name="GENERATOR" content="Microsoft FrontPage 5.0"/>
    <meta name="ProgId" content="FrontPage.Editor.Document"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
    <title>New Page 1</title>
  </head>
  <body>
    <h3>READING MISTAKE REPORT</h3>
    <%  cluster_name = params[:readingmistake][:ClusterName] if params[:readingmistake][:ClusterName] %>
    <%  date = Date.parse(params[:date1]).strftime("%d-%m-%Y") if params[:date1] %>
    <% selected_cluster = all_or_single_cluster_name(cluster_name) %>
    <% selected_cluster.each do |cluster_name| %>
      <h3><%=  cluster_name %> --  <%= date %></h3>
      <% formated_date = Date.parse(date).strftime("%Y-%m-%d") %>
      <% data = reading_mistake(cluster_name,formated_date)%>
      <table  border="1" width ="67%"  cellpadding="0"  cellspacing="0"  bordercolor="black"   id="AutoNumber1" >
        <tr >
          <td scope=col nowrap width="7%"  height="20" align="center"> SHOP </font></td>
          <td scope=col nowrap width="34%" height="1" align="center" >NO.</font></td>
        </tr>
        <% for i in data %>
          <%@allmachines=Machinedata.find(:all,:conditions=>"CLUSTER_NAME='#{cluster_name}'
      and TRANS_DATE='#{formated_date}'
      and SHOP_NAME='#{i.SHOP_NAME}' ",:order => "digitno,charno")%>
          <tr >
          <b><td scope=col nowrap width="7%"  height="20"><%= i.SHOP_NAME%></font></td></b>
          <td scope=col nowrap width="34%" height="1"  > &nbsp;&nbsp;
            <% for item in @allmachines%>
              <% if item.CALCULATEBY=='M' or (item.MTRDIFFIN.to_i<-3 or item.MTRDIFFIN.to_i>3 or item.MTRDIFFOUT.to_i<-3 or item.MTRDIFFOUT.to_i>3)%>
                <%= item.MACHINE_NO%> &nbsp; -
              <% else %>
              <% end %>
            <% end %>
            </font></td>
        </tr>
      <%end %>
    </table>
  <%end %>
</body>
</html>
