<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Admin</title>
    <script>
      window.onload=function()
      {
        new Ajax.Request("<%= url_for :controller=> :reports,:action=>:exreport %>",{method:'post'})

      }
    </script>
  </head>
  <body>
    <table border=0  align="center" width="100%" height="100%">
      <tr>
        <td bgcolor="#FFFFFF" width="90%" align=center >
          <table align=center border=0 bordercolor="#08176C" width="90%" left="5%" height="194">
            <tr>
              <td width="870" height="100%">
                <p>
                  <h1 align="center"><font color="#6C3401" face="Zurich BT" size="5">
                      Short Extra Report</font>
                    <p>
                      <% @a=@session[:startdate].strftime("%d-%B-%Y") %>
                      <% @m1=@a.split('-')%>
                    </p>
                    <h3 align="center"><font color="#6C3401" face="Zurich BT" size="2"><%= @m1[1] %> - <%= @m1[2]%></font></h1>
                  <table border="1" width ="802"  cellpadding="0"  cellspacing="0" bordercolor="#111111"   id="AutoNumber1"  height="24"  left:2% >
                         <tr  bgcolor="#E1CEA2" align=center>
                      <th nowrap width="1%" height="22" >
                        <font color=white face="Zurich BT" size="2">Cluster/Shop</font></th>
                      <th nowrap width="10%" height="22" >
                        <font color=white face="Zurich BT" size="2">KEY/DATE</font></th>
                      <%@m=@session[:days] %>
                      <%1.upto(@m.to_i) do |i|%>
                        <th nowrap width="1%" height="22" >
                          <font color=white face="Zurich BT" size="2"><%=i%></font></th>
                      <%end%>
                      <th nowrap width="1%" height="22" >
                        <font color=white face="Zurich BT" size="2">TOTAL</font></th>
                    </tr>
                    <% selected_cluster = all_or_single_cluster_name(@session[:rrclustername]) %>

                     <% selected_cluster.each do |cluster_name| %>
                          <tr  bgcolor="" align=center>
                      <th nowrap width="1%" height="22" >
                        <font  size="2"><%= cluster_name %></font></th>

                    </tr>
                     <% Shop.find(:all,:select=>"ShopName",:conditions=>["ClusterName=?",cluster_name],:order=>"ShopName").collect(&:ShopName).each do |@shp|  %>
                     <%# Shop.find(:all, :conditions=>["ClusterName=? ","#{cluster_name}"],:order => "ShopName").each do |@shp|%>
                    <%# session[:shop_name].each do |@shp| %>
                      <% @flag=false %>
                      <% Group.find(:all,:conditions=>["ShopName=?",@shp],:order=>"GroupID").each do |key|%>
                        <tr>
                          <% if @flag==false%>
                            <th>
                              <%= @shp %>&nbsp;
                            </th>
                          <% else %>
                            <td>&nbsp;</td>
                          <% end %>
                          <% @flag=true %>
                          <td nowrap align="center"><%= key.GroupID %>&nbsp;</td>
                          <% @cnt=0 %>
                          <%@m=@session[:days] %>
                          <%1.upto(@m.to_i) do |@i|%>
                            <% @date1=Date.parse(@i.to_s+'-'+@session[:month].to_s+'-'+@session[:year].to_s) %>
                            <% @count = ShortExtra.find_all_by_shop_name_and_date(@shp,@date1).count%>
                            <% @d=(@date1).to_s.split('-')%>
                            <% if @count == 0%>
                              <td nowrap align="center">-</td>
                            <%else%>
                              <% if @i.to_i== @d[2].to_i %>
                                <%  @cnt1 = 0%>
                                <% @val = ShortExtra.find_by_shop_name_and_group_id_and_date(@shp,key.GroupID,@date1)  %>
                                <% if @val %>
                                  <% if @val.short_extra.to_i < 0 %>
                                    <td nowrap align="center"><font color=red face="Zurich BT" size="2"><%= @val.short_extra %></font>&nbsp;</td>
                                  <% else %>
                                    <td nowrap align="center"><%= @val.short_extra %>&nbsp;</td>
                                  <% end %>
                                  <% @cnt1 = @cnt1 + @val.short_extra %>
                                <% end %>
                              <% else%>
                                <td nowrap align="center">-</td>
                              <%end%>
                            <%end%>
                          <%end%>
                          <% short_extra_sum = ShortExtra.sum(:short_extra,:conditions=>["shop_name=? and date>=? and date<=? and group_id=?",@shp,@session[:startdate],@session[:enddate],key.GroupID]) %>
                          <% if short_extra_sum.to_i<0%>
                            <td nowrap align="center"><font color=red face="Zurich BT" size="2"><%= short_extra_sum%></font>&nbsp;</td>
                          <% else %>
                            <td nowrap align="center"><b><%= short_extra_sum%></b>&nbsp;</td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                    <% end %>
                  </table>
                  <br/>
              </td></tr></table>
        </td></tr></table>
  </body>
</html>